<div class="footer">
    <div class="sushima">
        <img src="../assets/sashumi.png" alt="">
        <h2 class="title" >sushima</h2>
        <p>It is a long established <br>fact that reader will be distracted.</p>
        <fa-icon [icon]="faFacebook"></fa-icon>
        <fa-icon [icon]="faTwitter"></fa-icon>
        <fa-icon [icon]="falinkedin"></fa-icon>
    </div>
    <div class="useful-links">
        <p>useful links</p>
        <li>about</li>
        <li>services</li>
        <li>menu</li>
        <li>blog</li>
    </div>
    <div class="contact">
        <h3>contacts</h3>
        <p>jonathanmuligemwandi&commat;gmail.com</p>
        <p>25490507703</p>
    </div>
    <div class="opening-hours">
        <p class="opening">opening hours</p>
        <p>Monday-Friday: 10.00-16.00</p>
        <p>Saturday: 10.00-18.00</p>
        <p>Sunday: 10.00-20.00</p>
    </div>
</div>

