<div class="navbar">
    <div class="logo">
        <img src="../assets/sashumi.png" alt="">
        <p>sushima</p>
    </div>
        <div class="lists">
            <li>About</li>
            <li>Services</li>
            <li>Menu</li>
            <li>Blog</li>
        </div>
        <div class="order-online">
            <button>order online</button>
        </div>
</div>
<div class="landing-page">
    <h1><span>f</span>eel the sushi <br> of <span>j</span>apan</h1>
    <p>It is a long established fact that a reader will be distracted by <br> the readable content of a page when looking at its layout. <br> The point of using Lorem Ipsum is that it has packages.</p>
    <div class="place-order">
        <button>place your order</button>
        <div class="dial">
            <fa-icon [icon]="faPhone" ></fa-icon>
            <span>+25490507703</span>
        </div>
        <div class="food-image">
            <img src="../assets/nigiri.png" alt="">
        </div>
    </div>
    <div class="food-categories">
        <h2 class="title">deliciuos </h2>
        <p>food categories</p>
        <div class="categories">
                <div class="category">
                <img src="../assets/kiro sushi.png" alt="">
                <h2>Kiro Sushi</h2>
                <p>It is a long established fact that a reader will be distracted by the readable.</p>
            </div>
            <div class="category">
                <img src="../assets/ainu sushi.png" alt="">
                <h2>Ainu Sushi</h2>
                <p>It is a long established fact that a reader will be distracted by the readable.</p>
            </div>
            <div class="category">
                <img src="../assets/uramaki.png" alt="">
                <h2>Uramaki</h2>
                <p>It is a long established fact that a reader will be distracted by the readable.</p>
            </div>
        </div>
    </div>
    <div class="menu-section">
        <h3 class="head">our menu</h3>
        <p>discover food menu</p>
        <div class="the-menus">
            <div class="menu" *ngFor="let menu of menus">
                <img [src]="menu.image" alt="">
                <h3>{{menu.title}}</h3>
                <p [innerHTML]="menu.text"></p>
                <p class="amount">{{menu.amount}}</p>
            </div>
        </div>
    </div>
    <div class="more-btn">
        <button>view more</button>
    </div>
    <div class="headlines">
        <h2>tasty &amp; fresh</h2>
        <h3><span>o</span>ur service means satisfy</h3>
    </div>
    <div class="deliveries">
        <div class="delivery" *ngFor="let delivery of deliveries" >
            <img [src]="delivery.image" alt="">
            <h2>{{delivery.title}}</h2>
            <p>{{delivery.paragraph}}</p>
        </div>
    </div>
    <div class="dishes">
        <p>popular dishes</p>
        <h1><span>o</span>ur exclusive items</h1>
    </div>
    <div class="items" *ngFor="let item of items">
        <img [src]="item.image" alt="">
        <div class="extra-info">
            <h1>{{item.title}}</h1>
            <p [innerHTML]="item.text"></p>
        </div>
    </div>
    <div class="reservation">
        <img src="../assets/sashumi.png" alt="">
        <div class="reserve">
            <p>our reservation</p>
            <h1>reservation</h1>
            <input type="text" placeholder="enter your name"> <br>
            <input type="number" placeholder="enter your phone number"><br>
            <input type="number" min="1" placeholder="enter number of people"><br>
            <input type="date" placeholder="dd/mm/yyyy">
            <button>book a table</button>
        </div>
    </div>
    <div class="testimonials">
        <div class="image"></div>
        <img src="../assets/testimonial.png" alt="">
        <div class="testimony">
            <h1>testimonials</h1>
            <h3>Our lovely customer <br>loves our food</h3>
            <p>“ There are many variations of passages of Lorem <br> Ipsum available, but the majority have suffered <br> alteration in some form, by injected humour, <br> or randomised words which don't look even slightly <br> believable. If you are going to use a passage.”</p>
            <img src="../assets/stars.png" alt="">
            <p class="name">jane wilson</p>
        </div>
    </div>
    <div class="desc">
        <h1>recipe</h1>
        <p>Featured recipes</p>
    </div>
    <div class="recipes">
        <div class="recipe" *ngFor="let recipe of recipes" >
            <img [src]="recipe.image" alt="">
            <h2 [innerHTML]="recipe.title"></h2>
            <p [innerHTML]="recipe.paragraph"></p>
            <h3 [innerHTML]="recipe.button"></h3>
        </div>
    </div>
    <!-- <div class="watch-recipe">
        <h4>watch a recipe</h4>
        <p> <span>j</span>apanese food in your town</p>
    </div>
    <div class="media">
        <video src="../videos/showfood.mp4" controls ></video>
    </div>
    -->
</div>
<app-footer></app-footer> 